html {
	scroll-behavior: smooth;
}

body {
    background-color: #000;
    font-family: ui-monospace,
            'JetBrains Mono', 
             Menlo, Monaco, 
             "Cascadia Mono", "Segoe UI Mono", 
             "Roboto Mono", 
             "Oxygen Mono", 
             "Ubuntu Monospace", 
             "Source Code Pro",
             "Fira Mono", 
             "Droid Sans Mono", 
             "Courier New", monospace;
    color: #fff;
}

p, h1, h2, h3, h4, h5, h6, a {
    color: #fff;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: .125rem;
	line-height: 100%;
}
* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
	margin-top: 2.5rem;
}

blockquote {
	border-left: 5px solid #333;
	padding-top: .75em;
	padding-bottom: .75em;
	margin-top: 0;
	margin-bottom: 0;
	background-color: #1e1e1e;
	padding-left: 1.25em;
	margin-left: 0;
}

blockquote p {
	margin-top: 0;
	margin-bottom: 0;
}

header nav li a .link-prefix {
	max-width: 0px;
	position: absolute;
	opacity: 0;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

header nav:hover a .link-text {
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 250ms;
	color: #2f2f2f;
}

header nav li a:hover .link-text {
	text-decoration: underline;
	color: #d259ea;
}

#post-content a {
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 250ms;
	text-decoration: underline;
}

#post-content a:hover {
	color: #d259ea;
	text-decoration: underline;
}

header nav li a:hover {
	padding-right: .5rem;
	padding-left: 1rem;
}

header nav li a:hover .link-prefix {
	max-width: 100%;
	opacity: 1;
	transform: translateX(-100%);
}

@keyframes fadeIn {
	from {
		max-width: 0px;
		min-width: 0px;
		max-height: 0px; 
		opacity: 0;
	}
	to {
		max-width: 33%;
		min-width: 33%;
		max-height: 100%; 
		opacity: 1;
	}
}

footer > #block3 {
	max-width: 0px;
	max-height: 0px; 
	overflow: hidden;
	opacity: 0;
	animation: fadeIn .5s cubic-bezier(0, 0.55, 0.45, 1) .6s forwards;
}

img {
	max-width: 87.5%;
	height: auto;
}
img.badge {
	max-width: 100%;
}

video {
	width: 100%;
}

img.emoji {
    transform: translateY(0.25em);
    height: 1.2em;
}

div#search {
    margin-bottom: 24px;
}

div.post:hover > a {
	transform: translateX(.625rem);
}

div.post:hover > p {
	color: #fff;
}
